* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image{
  max-width: 60rem;
}

.logo {
  color: #ff6400;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

.image-item{
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease-in-out;
}

.image-item:hover, .logo:hover{
  filter: brightness(0.8); 
}

